* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

main {
    background-color: #121214;
    width: 50%;
    height: 100%;
}

.logo {
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 30%;
    position: relative;
    top: 4rem;
    left: 2rem;
}

.text-content {
    margin-left: 2rem;
    color: #E1E1E6;
    font-family: "Work Sans";
}

.text-content > h1 {
    color: #04D361;
    font-family: "League Spartan";
    font-size: 34px;
    margin-bottom: 0.8rem;
}

.sub {
    font-size: 19.4px;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.desc {
    font-size: 18px;
    padding-right: 10rem;
}

form {
    margin-left: 2rem;
    margin-top: 4rem;
}

form > input {
    margin-top: 1rem;
    width: 1050px;
    height: 50px;
    display: inline;
    border: none;
    box-shadow: 0 0 10px #727272;
    border-left: #04D361 solid 5px;
    padding-left: 0.7rem;
}


form > button {
    position: relative;
    bottom: 3.2rem;
    left: 65.5rem;
    width: 55px;
    height: 52px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8257e5;
}

form > button :hover {
    cursor: pointer;
}

form > label {
    color: #A8A8A8;
    font-family: "League Spartan";
    font-weight: bold;
    font-size: 19px;
}

.link {
    margin-top: 4rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.link > a {
    text-decoration: none;
    color: #8257e5;
    font-family: "League Spartan";
    font-weight: bold;
    font-size: 1.2rem;
}

.foto {
    background-image: url(./images/read_news.jpg);
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip:padding-box;
    position: absolute;
    z-index: -1;
    left: 60rem;
}